<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<% if @refresh_page %>
  <meta http-equiv="refresh" content="0;URL='/play_move'" />
<% end %>
<title>TicTacToe</title>
<style>
* {
  margin: 0;
  padding: 0;
}

#container {
  width: 50%;
  margin: 0 auto;
}

#my-div {
  background-color: #fff;
  display: block;
  border: 1px solid black;
  float: left;
  width: <%= @cell_size %>;
  padding-bottom: <%= @cell_size %>;
}

a.fill-div {
  position: absolute;
  display: block;
  font-size: 20vw;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

</style>
</head>
<body>
<a href="/reset_game">Replay</a>
<div id="container">
  <% unless @game_response[:board].nil? %>
    <% (0...@game_response[:board].number_of_positions).each do |index| %>
    <div id="my-div">
    <a href="play_move?position=<%= index %>" class="fill-div"><%= @game_response[:board].get_mark_at_position(index) %></a>
  </div>
<% end %>
<% end %>
</div>
<%= @game_response[:status] %>
</body>
</html>
