<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<% if @refresh_page %>
  <meta http-equiv="refresh" content="0;URL='/play_move'" />
<% end %>
<title>TicTacToe</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/main.css">

<style>

#my-div {
  position: relative;
  background-color: #fff;
  display: block;
  border: 1px solid black;
  float: left;
  width: <%= @cell_size %>;
  padding-bottom: <%= @cell_size %>;
}

a.fill-div {
  position: absolute;
  text-align: center;
  padding: 0;
  display: block;
  font-size: 100px;
  height: 100%;
  width: 100%;
  padding-bottom: <%= @cell_size %>;
  text-decoration: none;
}

</style>
</head>
<body>
<div class="container">
  <div class="row">
      <div class="col-md-5 col-md-offset-4">
        <h1>Tic Tac Toe</h1>
        <% unless @game_response[:board].nil? %>
    <% (0...@game_response[:board].number_of_positions).each do |index| %>
    <div id="my-div">
    <a href="play_move?position=<%= index %>" class="fill-div"><%= @game_response[:board].get_mark_at_position(index) %></a>
  </div>
<% end %>
<% end %>
<h4>Status: <%= @game_response[:status] %></h4>
<a href="/">Click Here to set up a new game</a>
</div>
</div>
</div>

</body>
</html>
